* {
    box-sizing: border-box;
}
body {
    background-image: url("./assets/stars.png");
    background-color: #000111;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5%;
}

main{
    margin: auto;
    background-color:rgba(11, 36, 71, 0.8);
    border-radius: 0.7rem;
    padding: 1.0rem;
    color: aliceblue;
    text-align: center;
    border: 1px solid aquamarine;
    min-height: 460px;
}

.title {
    font-size: 1.9rem;
    margin-block: 0;
    color: aquamarine;
}

.task-progress, .task-progress-message {
    font-size: 1.2rem;
    padding-inline: 10%;
}
.task-progress-message {
    margin-block-start: 0;
    font-style: italic;
    font-size: 1.0rem;
}

::placeholder{
    color: aquamarine;
}
.projects-container {
    background-image: url("./assets/landscape3.png");
    background-size: cover;
    background-position: center;
    background-color: rgb(199, 119, 119);
    background-repeat: no-repeat;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid aquamarine;
    font-size: 1.05rem;
    /* display: flex;
    flex-direction: column; */
}

.project-form {
    border: 1px solid aquamarine;
    padding: 0.2rem 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    gap: 1px;
}
.project-form input {
    background: none;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
}
.project-form input[type="text"]{    
    font-size: 1.1rem;
    flex-grow: 1;
    color: #FFF;
    width: auto;
    margin-inline: auto;
}

.input-btn{
    min-height: 33px;
    min-width: 33px;
    border-radius: 0.5rem;
    font-size: 1.9rem;
    line-height: 1.9rem;
    padding: 0;
    margin-inline-start: 0.3rem;
    cursor: pointer;
    background-color: aquamarine;
}

.project-not-completed, .project-completed {
    display: flex;
    background-color: rgba(33, 42, 62, 0.7); 
    justify-content: space-between;   
    align-items: center;
    font-size: 1.1rem;
    padding: 0.15rem 0 0.15rem 0.5rem;
    text-align: left;
    /* rgba(33, 42, 62, 0.6) rgba(136, 74, 57, 0.6) */
}

.fa-icon-tr{
    cursor: pointer;
    color: rgba(127, 255, 212, 0.6) ;
    /* #7C9070; #79E0EE */
}
.fa-icon-sq, .fa-icon-sqc {
    color: rgba(127, 255, 212, 0.9) ;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 1px solid aquamarine;
    border-radius: 0.3rem;
}

.fa-icon-sqc{
    color: rgb(185, 237, 221, 0.5)  ;
    border: 1px solid rgb(185, 237, 221, 0.5);
}
.modification-icons {
    display: flex;
    gap: 3px;
    padding-right: 0.3rem;
}
.project-title {
    flex-grow: 1;
}

.project-completed {
    color: rgb(185, 237, 221, 0.5) ;
    text-decoration: line-through;
}

 /* extra small smart phones */
@media screen and (min-width: 300px){
    main {
        max-width: 291px;
        padding-inline: 1.5%;
    }
    .project-form{
        justify-content: space-around;
        width: 100%;
    }
    /* .projects-container{

    } */
}

 /* wider smart phones */
@media screen and (min-width: 481px)  {
    .title {
        font-size: 2.3rem;
    }
    .task-progress, .task-progress-message {
        font-size: 1.3rem;
    }
    .project-title{
        font-size: 1.3rem;
    }
    .modification-icons {
        gap: 4px;
    }
    .fa-icon-sq, .fa-icon-sqc, .fa-icon-tr{
        font-size: 30px;
    }
}

/* Small devices upwards */
@media screen and (min-width: 768px)  {
    main {
        width: 650px;
        max-width: 800px;
    }
    .title {
        font-size: 2.6rem;
    }
    .task-progress, .task-progress-message {
        font-size: 1.6rem;
    }
    ::placeholder {
        font-size: 1.3rem;
    }
    .project-title{
        font-size: 1.4rem;
        padding-right: 0.6rem;
    }
    .modification-icons {
        gap: 6px;
        padding-right: 0.6rem;
    }
    .fa-icon-sq, .fa-icon-sqc, .fa-icon-tr{
        font-size: 30px;
    }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
    body {
        padding: 2%;
    }
    main {
        max-height: 420px;
        width: 100%;
    }
    .title {
        font-size: 1.6rem;
        margin: 0.1rem;
        padding-inline: 2%;
    }
    .task-progress, .task-progress-message {
        font-size: 1.0rem;
        margin: 0.1rem;
        padding-inline: 2%;
    }
    .project-form {
        height: 1.7rem;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .input-btn {
        min-width: 1.3rem;
        min-height: unset;
        font-size: 1.1rem;
        line-height: 1.0rem;
        border-radius: 3px;
    }
    ::placeholder {
        font-size: 1.1rem;
        padding: 2%;
    }
    .project-title{
        font-size: 1.1rem;
        padding-right: 0.6rem;
    }
    .modification-icons {
        gap: 6px;
        padding-right: 0.6rem;
    }
    .fa-icon-sq, .fa-icon-sqc, .fa-icon-tr{
        font-size: 15px;
    }
}